[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pytest-django = "*"
requests-mock = "*"

[packages]
django = "==3.1"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
requests = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
